# Data Mining - Assignment 1

In [102]:
import pandas as pd
import numpy as np

df = pd.read_csv("fortest.csv")

empty_row = ""
for i in range(31):
    empty_row += ","

if df.columns[0] != "Unnamed: 0":
    with open("fortest.csv", 'r+') as f:
        content = f.read()
        f.seek(0, 0)
        f.write(empty_row + '\n' + content)

df = pd.read_csv("fortest.csv")

col_names = {}
for i in range(32):
    curr_index = "Unnamed: " + str(i)
    next_index = "food " + str(i)
    col_names[curr_index] = next_index
df.rename(columns = col_names, inplace=True)

df.head()

,food 0,food 1,food 2,food 3,food 4,food 5,food 6,food 7,food 8,food 9,...,food 22,food 23,food 24,food 25,food 26,food 27,food 28,food 29,food 30,food 31
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
uniq_items = set()
for i in range(len(df)):
    for each in df.loc[i]:
        uniq_items.add(each)
print("We have " + str(len(uniq_items)) + " unique items.")

We have 170 unique items.